# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [3]:
## Write a Python function to create a new SQLite3 database named `test.db`.

import sqlite3

def create_database():
      conn=sqlite3.connect('test.db')
      conn.close()
      print("Database created and successfully connected.")

create_database()

Database created and successfully connected.

In [4]:
## Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

def create_table():
      conn = sqlite3.connect('test.db')
      cursor = conn.cursor()
      cursor.execute('''
            Create table if not exists employee(
                  id Integer primary key,
                  name text not null,
                  age Integer,
                  department text
            )
      ''')

      conn.commit()
      conn.close()
      print('Table employees created successfully')

create_table()

Table employees created successfully

In [5]:
## Write a Python function to insert a new employee into the `employees` table.

def insert_employee(id, name, age, department):
      conn = sqlite3.connect('test.db')
      cursor = conn.cursor()

      cursor.execute('''
            Insert into employee (id, name, age, department)
            values (?, ?, ?, ?)
      ''', (id, name, age, department))
      conn.commit()
      conn.close()

insert_employee(1, 'Alice', 30, 'HR')

IntegrityError: UNIQUE constraint failed: employee.id

In [14]:
## Insert at least 5 different employees into the `employees` table.

insert_employee(2, 'Bob', 25, 'Engineering')
insert_employee(3, 'Charlie', 28, 'Sales')
insert_employee(4, 'David', 35, 'Marketing')
insert_employee(5, 'Eve', 22, 'HR')

In [6]:
## Write a Python function to fetch and display all records from the `employees` table.

def fetch_all_employees():
      conn = sqlite3.connect('test.db')
      cursor = conn.cursor()
      cursor.execute('select * from employee')
      records = cursor.fetchall()
      conn.close()
      for record in records:
            print(record)
fetch_all_employees()

(1, 'Alice', 30, 'Finance')
(2, 'Bob', 25, 'Research')
(3, 'Charlie', 28, 'Customer Support')
(4, 'David', 35, 'Marketing')

In [32]:
## Write a Python function to fetch and display all employees from a specific department.

def fetch_employees_by_department(department):
      conn = sqlite3.connect('test.db')
      cursor = conn.cursor()

      cursor.execute('select * from employee where department = ?', (department,))
      records = cursor.fetchall()
      conn.close()
      for record in records:
            print(record)

fetch_employees_by_department('HR')

In [33]:
## Write a Python function to update the department of an employee based on their `id`.

def update_employee_department(employee_id, new_departmrnt):
      conn = sqlite3.connect('test.db')
      cursor = conn.cursor()

      cursor.execute('Update employee set department = ? where id = ? ', (new_departmrnt, employee_id))
      conn.commit()
      conn.close()

update_employee_department(1, 'Finance')

OperationalError: database is locked

In [1]:
## Update the department of at least 2 employees and display the updated records.

update_employee_department(2, 'Research')
update_employee_department(3, 'Customer Support')

# Fetch and display all records
fetch_all_employees()

NameError: name 'update_employee_department' is not defined

In [34]:
## Write a Python function to delete an employee from the `employees` table based on their `id`.

def delete_employee(id):
      conn= sqlite3.connect('test.db')
      cursor = conn.cursor()

      cursor.execute('''
            DELETE FROM employee
            WHERE id=?

      ''', (id,))
      conn.commit()
      conn.close()
      print("Employee deleted successfully.")

delete_employee(5)

Employee deleted successfully.

In [11]:
## Write a Python function to fetch and display employees older than a certain age.

def fetch_employees_older_than(age):
      conn = sqlite3.connect('test.db')
      cursor = conn.cursor()

      cursor.execute('''
            SELECT * FROM EMPLOYEE WHERE age > ?
      ''', (age,))

      records = cursor.fetchall()
      conn.close()
      for record in records:
            print(record)


fetch_employees_older_than(29)

(1, 'Alice', 30, 'Finance')
(4, 'David', 35, 'Marketing')

In [13]:
## Write a Python function to fetch and display employees whose names start with a specific letter.

def fetch_employees_name_starts_with(letter):
      conn = sqlite3.connect('test.db')
      cursor = conn.cursor()

      cursor.execute('select * from employee where name like ?', (letter+"%",))
      records = cursor.fetchall()
      conn.close()

      for record in records:
            print(record)

fetch_employees_name_starts_with('A')

(1, 'Alice', 30, 'Finance')

In [16]:
## Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

def insert_multiple_employees(employees):
      conn = sqlite3.connect('test.db')
      cursor = conn.cursor()

      try:
            cursor.executemany('''
                  INSERT INTO employee (id, name, age, department)
                  values (?, ?, ?, ?)
            ''', employees)
            conn.commit()
            print('All employees inserted successfully')
      except Exception as e:
            conn.rollback()
            print('Error occured, transaction rolled back')
            print(e)
      finally:
            conn.close()

# fetch_all_employees()
employees = [
    (6, 'Frank', 40, 'Finance'),
    (7, 'Grace', 29, 'Engineering'),
    (8, 'Hannah', 35, 'Marketing'),
    (9, 'Ivan', 38, 'Sales'),
#     (6, 'Jack', 45, 'HR')  # Duplicate ID to cause an error
]
insert_multiple_employees(employees)

fetch_all_employees()

(1, 'Alice', 30, 'Finance')
(2, 'Bob', 25, 'Research')
(3, 'Charlie', 28, 'Customer Support')
(4, 'David', 35, 'Marketing')
All employees inserted successfully
(1, 'Alice', 30, 'Finance')
(2, 'Bob', 25, 'Research')
(3, 'Charlie', 28, 'Customer Support')
(4, 'David', 35, 'Marketing')
(6, 'Frank', 40, 'Finance')
(7, 'Grace', 29, 'Engineering')
(8, 'Hannah', 35, 'Marketing')
(9, 'Ivan', 38, 'Sales')

In [2]:
## Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

import sqlite3

def update_multiple_employees_ages(updates):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''
            UPDATE employees
            SET age = ?
            WHERE id = ?
        ''', updates)
        conn.commit()
        print("All employee ages updated successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function with valid and invalid data
updates = [
    (32, 1),
    (26, 2),
    (33, 3),
    (41, 4),  # Non-existing ID to cause an error
    (23, 5)
]
update_multiple_employees_ages(updates)

Error occurred, transaction rolled back.
no such table: employees

In [3]:
## Create a new table named `departments` with columns `id` (integer) and `name` (text).

def create_department_table():
      conn = sqlite3.connect('test.db')
      cursor = conn.cursor()

      cursor.execute('''
            CREATE TABLE IF NOT EXISTS departments(
                  id INTEGER PRIMARY KEY,
                  name TEXT NOT NULL
            )
      ''')

      conn.commit()
      conn.close()
      print("Table 'department created successfully'")

create_department_table()

Table 'department created successfully'