In [7]:
import sqlite3

In [8]:
## Connect to an SqLite database.

connection=sqlite3.connect('example.db')
# File will be created with name 'example.db'

In [9]:
cursor=connection.cursor()

In [10]:
## Create a Table.

cursor.execute('''
      Create table if not exists employees(
            id Integer Primary Key,
            name VARCHAR(100) NOT Null,
            age Integer,
            department text
      );
''')

## Commit the changes
connection.commit()

In [11]:
table=cursor.execute('''
      select * from employees;
''')

In [12]:
## Insert the data in the sqLite3 table.

cursor.execute('''
      Insert into employees (id, name, age, department)
      values
      (92, 'Prateek Kumar Dubey', 22, 'UX/UI'),
      (18, ')
''')

connection.commit()

OperationalError: unrecognized token: "')
"

In [17]:
## Query the data from the table.

cursor.execute('Select * from employees')
rows= cursor.fetchall()

rows

[(37, 'Kavya Gupta', 18, 'DAA'),
 (85, 'Keshav Awasthi', 22, 'COA'),
 (91, 'Mayank Kumar', 21, 'DBMS')]

In [14]:
## Update the data in the table.arraysize

cursor.execute('Update employees set age=18 where id=37')
connection.commit()

In [18]:
## Delete the row from the table.

cursor.execute('Delete from employees where id=84')
connection.commit()

### Ques Practice

In [29]:
connection=sqlite3.connect('sales_data.db')
cursor=connection.cursor()

# Create a table for sales data.

cursor.execute('''
      create table if not exists sales (
            id Integer primary key,
            date text not null,
            product text not null,
            sales Integer,
            region text
      )
''')

connection.commit()

In [30]:
sales_data = [
      (1, '2023-01-01', 'Product1', 100, 'North'),
      (2, '2023-01-02', 'Product2', 200, 'West'),
      (3, '2023-01-03', 'Product3', 150, 'South'),
      (4, '2023-01-04', 'Product4', 450, 'North')
]

In [33]:
cursor.execute('''select * from sales''')
rows=cursor.fetchall()

rows

[(1, '2023-01-01', 'Product1', 100, 'North'),
 (2, '2023-01-02', 'Product2', 200, 'West'),
 (3, '2023-01-03', 'Product3', 150, 'South'),
 (4, '2023-01-04', 'Product4', 450, 'North')]

In [32]:
cursor.executemany('''
      Insert into sales(id, date, product, sales, region) values(?, ?, ?, ?, ?)
''', sales_data)

connection.commit()

In [27]:
## Permanent close the connection

connection.close()