# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples✅

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements✅

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.✅

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.✅

### Assignment 5: Tuple Concatenation✅

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods✅

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples✅

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion✅

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples✅

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List✅

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String✅⭐

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary✅

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration✅

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set✅

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions✅

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [5]:
# Create a tuple with the first 10 positive integers. Print the tuple.

tup1 = tuple(range(1, 11))
print(tup1)
print(type(tup1))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [6]:
# Print the first, middle, and last elements of the tuple created in Assignment 1.

print("First element => {}".format(tup1[0]))
print("Middle element => {}".format(tup1[len(tup1)//2]))
print(f"Last element => {tup1[-1]}")

First element => 1
Middle element => 6
Last element => 10

In [7]:
# Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

print('First three elements => {}'.format(tup1[:3]))
print('Last three elements => {}'.format(tup1[-3:]))
print('Elements from index 2 to 5 => {}'.format(tup1[2:6]))

First three elements => (1, 2, 3)
Last three elements => (8, 9, 10)
Elements from index 2 to 5 => (3, 4, 5, 6)

In [ ]:
# Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print("Matrix:")
for row in matrix:
    print(row)
print(f"Element at second row and third column: {matrix[1][2]}")

In [8]:
# Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

tup1 = (1, 2, 3)
tup2 = (4, 5, 6)

print(tup1 + tup2)

(1, 2, 3, 4, 5, 6)

In [9]:
# Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

tpl = (1, 2, 2, 3, 4, 4, 4, 5)
print(f"Occurrences of 4: {tpl.count(4)}")
print(f"Index of first occurrence of 2: {tpl.index(2)}")

Occurrences of 4: 3
Index of first occurrence of 2: 1

In [10]:
# Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

tup = (3, 5, 7, 2, 2)

a, b, c, d, e = tup

print(a, b, c, d, e)

3 5 7 2 2

In [15]:
# Convert a list of the first 5 positive integers to a tuple. Print the tuple.

tup = tuple([x for x in range(1, 6)])
print(tup)

(1, 2, 3, 4, 5)

In [23]:
# Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

print(matrix)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [24]:
# Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

tup = (1, 2, 5, 7, 5)
lst = list(tup)
lst.append(6)
tup = tuple(lst)
print(tup)

(1, 2, 5, 7, 5, 6)

In [29]:
# Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

string = "keshav"
tpl = tuple(string)
print(tpl)
joined_string = ''.join(tpl)
print(joined_string)

('k', 'e', 's', 'h', 'a', 'v')
keshav

In [30]:
# Create a dictionary with tuple keys and integer values. Print the dictionary.

tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [33]:
# Create a nested tuple and iterate over the elements, printing each element.

matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

for tup in matrix:
      for e in tup:
            print(e, end=" ")
      print()

1 2 3
4 5 6
7 8 9

In [42]:
# Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

tpl = (2, 4, 6, 2, 4, 8, 6, 4)
print(tpl)

st = set(tpl)
print(st)

(2, 4, 6, 2, 4, 8, 6, 4)
{8, 2, 4, 6}

In [45]:
# Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

def opr(tpl):
      print(f"Max is => {max(tpl)}, Min is => {min(tpl)}, Sum is => {sum(tpl)}")
      return "Done"

print(opr((4, 6, 2, 4, 7)))

Max is => 7, Min is => 2, Sum is => 23
Done