# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [2]:
## Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

import pandas as pd
import numpy as np

# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Set the index to be the first column
df.set_index('A', inplace=True)
print("DataFrame with new index:")
df

Original DataFrame:
    A   B   C   D
0  57  36  27  18
1  16  83  66  88
2  97  27  93  84
3  94  17  99   1
4  58  45   1   8
5  58  66  83  73
DataFrame with new index:

     B   C   D
A
57  36  27  18
16  83  66  88
97  27  93  84
94  17  99   1
58  45   1   8
58  66  83  73

In [3]:
## Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

import pandas as pd

df=pd.DataFrame(np.random.randint(1, 100, size=(3, 3)), index=['X', 'Y', 'Z'], columns=['A', 'B', 'C'])

# print(df)

element=df.at['Y', 'B']
print(element)

28

In [4]:
## Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)))
df[3] = df[0]*df[1]
df

    0   1   2     3
0  87  48  44  4176
1  79  15  36  1185
2  76   8  72   608
3  84  94  32  7896
4  19  49  13   931

In [5]:
## Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

df=pd.DataFrame(np.random.randint(1, 10, size=(3, 4)), index=['W', 'X', 'Y'], columns=['A', 'B', 'C', 'D'])

row_sum = df.sum(axis=1)
col_sum = df.sum(axis=0)

print(row_sum)
print(col_sum)

W    18
X    20
Y    32
dtype: int64
A    14
B    22
C    17
D    17
dtype: int64

In [6]:
## Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

df=pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])

print(df)

df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[2, 1] = np.nan
df.iloc[4, 0] = np.nan

print(df)
df.fillna(df.mean(), inplace=True)

print(df)

    A   B   C
0  37  53  99
1  21  42   6
2  97  71  69
3  52   6  62
4  44  47  17
      A     B     C
0  37.0   NaN  99.0
1  21.0  42.0   6.0
2  97.0   NaN   NaN
3  52.0   6.0  62.0
4   NaN  47.0  17.0
       A          B     C
0  37.00  31.666667  99.0
1  21.00  42.000000   6.0
2  97.00  31.666667  46.0
3  52.00   6.000000  62.0
4  51.75  47.000000  17.0

In [7]:
## Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])

df.iloc[4, 3] = np.nan
df.iloc[2, 1] = np.nan
df.iloc[3, 2] = np.nan
df.iloc[5, 0] = np.nan

print(df)
df.dropna(inplace=True)
df

      A     B     C     D
0  34.0  74.0  73.0  36.0
1  24.0  37.0  62.0  86.0
2   7.0   NaN  62.0  36.0
3  34.0  26.0   NaN   6.0
4  73.0  68.0  49.0   NaN
5   NaN  38.0  86.0  81.0

      A     B     C     D
0  34.0  74.0  73.0  36.0
1  24.0  37.0  62.0  86.0

In [8]:
## Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

df = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1, 100, size=10)})

grouped=df.groupby('Category')['Value'].agg(['sum', 'mean'])
print(grouped)

          sum       mean
Category
A         130  43.333333
B          45  22.500000
C         360  72.000000

In [9]:
## Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

df = pd.DataFrame({'Product': np.random.choice(['Prod1', 'Prod2', 'Prod3'], size=10), 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(1, 100, size=10)})

grouped=df.groupby('Category')['Sales'].sum()
grouped

Category
A    116
B    238
C     19
Name: Sales, dtype: int32

In [16]:
## Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

df1 = pd.DataFrame({
      'Key': ['A', 'B', 'C', 'D'],
      'Value1': np.random.randint(1, 100, size=4)
})
print(df1)
df2 = pd.DataFrame({
      'Key': ['A', 'B', 'C', 'E'],
      'Value2': np.random.randint(1, 100, size=4)
})
print(df2)

merged = pd.merge(df1, df2, on='Key')
print("Merged DataFrame:")
print(merged)

  Key  Value1
0   A       5
1   B      57
2   C      24
3   D      60
  Key  Value2
0   A      19
1   B      59
2   C       6
3   E      83
Merged DataFrame:
  Key  Value1  Value2
0   A       5      19
1   B      57      59
2   C      24       6

In [18]:
## Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

# Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
    A   B
0  71  40
1  55  17
2  45  30
DataFrame 2:
    C   D
0   1  62
1  45  86
2  60  27
Concatenated DataFrame (rows):
      A     B     C     D
0  71.0  40.0   NaN   NaN
1  55.0  17.0   NaN   NaN
2  45.0  30.0   NaN   NaN
0   NaN   NaN   1.0  62.0
1   NaN   NaN  45.0  86.0
2   NaN   NaN  60.0  27.0
Concatenated DataFrame (columns):
    A   B   C   D
0  71  40   1  62
1  55  17  45  86
2  45  30  60  27